.App {
  display: grid;
  grid-template-columns: 1fr 200px;
}
.Nav {
  grid-column: 1/-1;
}
.ProductList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.soldout {
  background: lightblue;
}
